.why-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0 0 70px;
  }
  .why-us-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .why-us-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 66%;
      gap: 25px;
    }
    .why-us-detail {
      width: 94%;
      background-color: rgba(224, 224, 224, 0.453);
      padding: 25px 20px;
      position: relative;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 14px;
        color: rgb(97, 97, 97);
      }
      h5 {
        margin: 10px 0;
      }
      &-logo {
        position: absolute;
        left: 20px;
        top: -20px;
      }
    }
    &-zarinpal {
      position: relative;
      box-sizing: border-box;
      width: 228px;
      height: 305px;
      background: rgba(217, 217, 217, 0.58);
      border: 1px solid white;
      box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
      backdrop-filter: blur(6px);
      border-radius: 17px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      font-weight: bolder;
      color: black;
      &:hover {
        border: 1px solid black;
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95) rotateZ(1.7deg);
      }
    }
  }
}
