.details-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .comments {
    width: 80%;
  }
  .details-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 100px;
    .detail-image {
      position: relative;
      width: 500px;
      height: 500px;
      border-radius: 10px;
      flex: 1;
      img {
        border-radius: 10px;
      }
    }
    .detail {
      display: flex;
      flex-direction: column;

      width: 50%;
      padding: 0 50px;
      gap: 40px;
      &-option {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          svg {
            font-size: 3rem;
            color: rgb(111, 111, 111);
          }
          span {
            font-size: 15px;
            font-weight: 400;
            color: rgb(134, 134, 134);
          }
        }
      }
      &-info {
        padding: 0 20px;
        h1 {
          border-bottom: 1px solid silver;

          margin: 5px 0;
          padding: 5px 0;
        }
        p {
          width: 70%;
          color: rgb(100, 100, 100);
          font-weight: 500;

          line-height: 20px;
        }
        &-colors {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 20px;
          input:default {
            border: 2px solid red;
          }
          &-item {
            border: none;
            cursor: pointer;
          }
          .select {
            border: 2px solid red;
          }
        }
      }
      .detail-likes {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgb(120, 120, 120);
        span {
          color: #e31304;
        }
      }
      .detail-buttons {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15px;
        button {
          background-color: none;
          width: 130px;
          height: 40px;

          border-radius: 10px;
          font-weight: bold;
          transition: all 0.3s ease;
        }
        .CartBtn {
          // border: 1px solid #e34a04;
          // &:hover {
          //   background-color: #e34a04;
          //   color: white;
          // }
          width: 140px;
          height: 40px;
          border-radius: 12px;
          border: none;
          background-color: #ff791f;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition-duration: 0.5s;
          overflow: hidden;
          box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
          position: relative;

          .IconContainer {
            position: absolute;
            left: -50px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            z-index: 2;
            transition-duration: 0.5s;
          }

          .icon {
            border-radius: 1px;
          }

          .text {
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(17, 17, 17);
            z-index: 1;
            transition-duration: 0.5s;
            font-size: 1.04em;
            font-weight: 600;
          }

          &:hover {
            .IconContainer {
              transform: translateX(58px);
              border-radius: 40px;
              transition-duration: 0.5s;
            }
            .text {
              transform: translate(10px, 0px);
              transition-duration: 0.5s;
            }
          }

          &:active {
            transform: scale(0.95);
            transition-duration: 0.5s;
          }
        }
        .btn2 {
          color: #090909;
          // padding: 0.7em 1.7em;
          border-radius: 0.5em;
          background: #e8e8e8;
          border: 1px solid #e8e8e8;
          transition: all 0.3s;
          box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
          &:hover {
            border: 1px solid white;
          }
          &:active {
            box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
          }
        }
      }
      .detail-quantity {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;

        button {
          width: 40px;
          height: 40px;
          color: #090909;
          // padding: 0.7em 1.7em;
          font-size: 18px;
          border-radius: 0.5em;
          background: #e8e8e8;
          border: 1px solid #e8e8e8;
          transition: all 0.3s;
          box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
          &:hover {
            border: 1px solid white;
          }
          &:active {
            box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
          }
        }
      }
    }
  }
}
